<header class="home-bg" id="home">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>Fabolous.Classy.Elegant</h1>
                <br>
                <div class="col s12 m6 center-column center">
                    <%= link_to "Make an Appointment", new_contact_path, class: "waves-effect waves-light btn-large appt-btn"%>
                </div>
            </div>

            <div class="col s12 bg-text-mobile">
                <h1>Fabolous.</h1><h1>Classy.</h1><h1>Elegant</h1>
                <br>
                <div class="col s12 m6 center-column center">
                    <a class="waves-effect waves-light btn-large appt-btn">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</header>

<%= render :partial => "home/about"%>
<%= render :partial => "home/qoutes"%>
<%= render :partial => "home/services"%>
<%= render :partial => "home/testimonials"%>
<%= render :partial => "home/products"%>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Store Hours</h5>
        <p class="grey-text text-lighten-4">Monday - Saturday 8am - 8pm</p>
        <p class="grey-text text-lighten-4">Sunday 11am - 5pm</p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Location</h5>
        <p class="grey-text text-lighten-4">202 5th Ave N, Franklin, TN 307064</p>
        <p class="grey-text text-lighten-4"><a class="tel" href="tel:615-472-8835">615-472-8835</a></p>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright, Lavender Nail Bar. All products, company names, and company logos are trademarks&#8482 or registered&#0174 trademarks of their respective holders.
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
