<!DOCTYPE html>
<html>
<head>
  <title>LavenderNailBar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <%elsif alert%>
    <div id="notice-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <%end%>
  <div class="navbar-fixed">
    <% if current_page?(root_path) %>
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <%= link_to "Lavender Nail Bar", root_path, class: "brand-logo"%>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons dehaze" style="color: #000;">dehaze</i></a>
            <ul class="right hide-on-med-and-down nav-links">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Services</a></li>
              <li><%= link_to "Contact", new_contact_path%></li>
              <% if user_signed_in? %>
                <li><%= link_to "New Testimonial", new_testimonial_path%></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Services</a></li>
              <li><%= link_to "Contact", new_contact_path%></li>
              <% if user_signed_in? %>
                <li><%= link_to "New Testimonial", new_testimonial_path%></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>
    <%else%>
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <%= link_to "Lavender Nail Bar", root_path, class: "brand-logo", id: "home"%>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons dehaze" style="color: #000;">dehaze</i></a>
            <ul class="right hide-on-med-and-down nav-links">
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="<%= root_path %>#about">About Us</a></li>
              <li><a href="<%= root_path %>#services">Services</a></li>
              <li><%= link_to "Contact", new_contact_path%></li>
              <% if user_signed_in? %>
                <li><%= link_to "New Testimonial", new_testimonial_path%></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="<%= root_path %>#about">About Us</a></li>
              <li><a href="<%= root_path %>#services">Services</a></li>
              <li><%= link_to "Contact", new_contact_path%></li>
              <% if user_signed_in? %>
                <li><%= link_to "New Testimonial", new_testimonial_path%></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>
    <%end%>
    <% if current_page?(new_testimonial_path) %>
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <%= link_to "Lavender Nail Bar", root_path, class: "brand-logo", id: "home"%>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">=</i></a>
            <ul class="right hide-on-med-and-down nav-links">
              <li><a href="<%= root_path %>#home">Home</a></li>
              <li><a href="<%= root_path %>#about">About Us</a></li>
              <li><a href="<%= root_path %>#services">Services</a></li>
              <li><%= link_to "Contact", new_contact_path%></li>
              <% if user_signed_in? %>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="<%= root_path %>#home">Home</a></li>
              <li><a href="<%= root_path %>#about">About Us</a></li>
              <li><a href="<%= root_path %>#services">Services</a></li>
              <li><%= link_to "Contact", new_contact_path%></li>
              <% if user_signed_in? %>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>
    <%end%>

    <% if current_page?(new_contact_path) %>
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <%= link_to "Lavender Nail Bar", root_path, class: "brand-logo", id: "home"%>
            <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons dehaze" style="color: #000;">dehaze</i></a>
            <ul class="right hide-on-med-and-down nav-links">
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="<%= root_path %>#about">About Us</a></li>
              <li><a href="<%= root_path %>#services">Services</a></li>              
              <% if user_signed_in? %>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="<%= root_path %>#about">About Us</a></li>
              <li><a href="<%= root_path %>#services">Services</a></li>
              <% if user_signed_in? %>
                <li><%= link_to "New Testimonial", new_testimonial_path%></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <%else%>
                <li><%= link_to "Sign In", new_user_session_path%></li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>
    <%end%>
  </div>
  <script>
    $(".button-collapse").sideNav();
  </script>

<%= yield %>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Store Hours</h5>
        <p class="grey-text text-lighten-4">Monday - Saturday 8am - 8pm</p>
        <p class="grey-text text-lighten-4">Sunday 11am - 5pm</p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Location</h5>
        <p class="grey-text text-lighten-4">202 5th Ave N, Franklin, TN 307064</p>
        <p class="grey-text text-lighten-4"><a class="tel" href="tel:615-472-8835">615-472-8835</a></p>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="<%= root_path %>#home">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="<%= root_path %>#about">About Us</a></li>
          <li><a class="grey-text text-lighten-3" href="<%= root_path %>#services">Services</a></li>
          <li><%= link_to "Contact", new_contact_path, class: "grey-text text-lighten-3"%></li>
        </ul>
      </div>
      <br>
      <div class="col l12">
        <p class="grey-text text-lighten-4 center" style="font-size: 14px;">Website created by <a class="grey-text text-lighten-4" href="http://www.espinozabrand.com" style="text-decoration: underline;">espinozabrand.com</a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright, Lavender Nail Bar. All products, company names, and logos are trademarks&#8482 or registered&#0174 trademarks of their respective holders.
    </div>
  </div>
</footer>


</body>
</html>
